body {
    background:linear-gradient(#b7e6c7 50%, #11096f  100% ) ;
    height: 1000px;
    text-align: center;
}
#line {
    height: 3px;
    background-color: black;
    width: 200px;
    margin:auto;
}
.deathnote {
    margin: 20px;
    height: 600px;
    width: 400px;
}
.MENU {
    z-index: 9999;
    position: sticky;
    top: 0;
    font-size: 18px;
        }

